.container {
  max-width: 960px;
  margin: 0 auto;
}

.mainWrapper {
  padding: 1.5rem 0;
}

h1.pageTitle {
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  line-height: 4rem;
}

.postsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

/* .postsWrapper .post {

} */

.postsWrapper .post p{
  font-weight: 500;
  margin: 1rem;
}

