@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Raleway:wght@500&display=swap');

html {
  font-size: 10px;
  line-height: 1.2;
}

body {
  margin: 0;
  font-family: "Inter", "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 3.6rem;
  margin: 0;
}

h3 {
  font-size: 3.2rem;
  margin: 0;
}

h4 {
  font-size: 2.8rem;
  margin: 0;
}

a,
p {
  font-size: 1.6rem;
  list-style: 2rem;
  margin: 0;
}
